@model TheatreCMS3.Areas.Prod.Models.CastMember

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="text-center CastMember-Delete--Heading">Delete this Cast Member?</h3>

<div class="card mx-auto CastMember-Delete--Container">
    <h3 class="CastMember-Delete--Heading">
        @Html.DisplayFor(model => model.Name)
    </h3>
    <div class="mx-auto">
        <img class="card-img-top CastMember-Delete--CardImg" src="@Url.Action("RenderImage", new { id = Model.CastMemberId })" />
    </div>

    <h5 class="CastMember-Delete--BoxHeading">Bio</h5>

    <div class="card-body CastMember-Delete--CardBody">
        <p class="CastMember-Delete--Text">   @Html.DisplayFor(model => model.Bio)</p>
    </div>
    <div class="CastMember-Delete--CardBody">
        <p class=" CastMember-Delete--Text">
            <span class="CastMember-Delete--Subheading"> Year Joined:</span>
            @Html.DisplayFor(model => model.YearJoined)
        </p>

        <p class=" CastMember-Delete--Text">
            <span class="CastMember-Delete--Subheading">Main Role: </span>
            @Html.DisplayFor(model => model.MainRole)
        </p>

        <p class=" CastMember-Delete--Text">
            <span class="CastMember-Delete--Subheading">Current Member: </span>
            @Html.DisplayFor(model => model.CurrentMember)
        </p>

        <p class=" CastMember-Delete--Text">
            <span class="CastMember-Delete--Subheading">Production Title: </span>
            @Html.DisplayFor(model => model.ProductionTitle)
        </p>

        <p class=" CastMember-Delete--Text">
            <span class="CastMember-Delete--Subheading">Character: </span>
            @Html.DisplayFor(model => model.Character)
        </p>

        <p class=" CastMember-Delete--Text">
            <span class="CastMember-Delete--Subheading">Year Left Cast: </span>
            @Html.DisplayFor(model => model.CastYearLeft)
        </p>

        <p class=" CastMember-Delete--Text">
            <span class="CastMember-Delete--Subheading">Debut Year: </span>
            @Html.DisplayFor(model => model.DebutYear)
        </p>
    </div>

    <div class="card-body">
       
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <a class="btn btn-default CastMember-Delete--Button mx-3" href="@Url.Action("Index", "CastMembers")">
                <i class="fas fa-arrow-left CastMember-Delete--Icon"> Back to List</i>
            </a>

            <a class="btn btn-default CastMember-Delete--Button mx-3" href="@Url.Action("Edit", new { id = Model.CastMemberId })">
                <i class="CastMember-Delete--Icon fas fa-edit"> Edit</i>
            </a>

            <button type="submit" class="btn btn-default CastMember-Delete--Button1 mx-3 float-right"><i class="far fa-trash-alt CastMember-Delete--Icon" aria-hidden="true"> Delete</i></button>
        }
    </div>

</div>

