@model IEnumerable<TheatreCMS3.Areas.Prod.Models.CastMember>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var GroupByProduction = Model.GroupBy(model => model.ProductionTitle);
}

<h2 class="CastMember-Index--Heading">Cast Members</h2>
<!--Create Button -->
<button class="btn btn-default CastMember-Index--Button">
    @Html.ActionLink("Create New", "Create", "CastMembers", new { @class = "CastMember-Index--Button" })
</button>

<!-- Interactive Search Bar -->
<div class="input-group mb-3 CastMember-Index--SearchContainer">
    <div class="input-group-prepend CastMember-Index--Search">
        <span class="input-group-text " id="basic-addon1">Search by Name or Bio: </span>
    </div>
    <input type="text" id="CastSearch" class="float-right" />
</div>

<!-- Cast Member Display -->
<table class="CastMember-Index--Table">

    @foreach (var group in GroupByProduction)
    {
        <tr class="CastMember-Index--SectionDivider">
            <th class="CastMember-Index--Th">@group.Key</th>
        </tr>
        <tr class="CastMember-Index--Tr">
            @foreach (var item in group)
            {
                <td>
                    <div class="card CastMember-Index--Card" style="width: 16rem;">
                        <div class="CastMember-Index--CardTop">
                            <a href="@Url.Action("Details", new { id = item.CastMemberId })">
                                <img class="card-img-top CastMember-Index--CardImg" src="@Url.Action("RenderImage", new { id = item.CastMemberId })" />
                            </a>

                            <div class="card-img-overlay CastMember-Index--Overlay">
                                <a class="CastMember-Index--Icon" href="@Url.Action("Edit", new { id = item.CastMemberId })">
                                    <i class="fas fa-edit fa-2x px-4"></i>
                                </a>
                                <a class="CastMember-Index--Icon" href="@Url.Action("Delete", new { id = item.CastMemberId })">
                                    <i class="far fa-trash-alt fa-2x px-4"></i>
                                </a>
                            </div>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title text-center" id="CastMemberName">   @Html.DisplayFor(modelItem => item.Name) </h5>
                            <p class="card-title text-center CastMember-Index--pText">as</p>
                            <p class="card-title text-center">   @Html.DisplayFor(modelItem => item.Character)</p>
                            <p hidden id="CastMemberBio">@Html.DisplayFor(modelItem => item.Bio)  </p>
                        </div>
                    </div>
                </td>
            }
        </tr>

    }
</table>

